* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
  border: none;
}
::placeholder {
  color: #717171;
}

::-webkit-datetime-edit-text {
  color: #717171;
  padding: 0 0.3em;
}
::-webkit-datetime-edit-month-field {
  color: #717171;
}
::-webkit-datetime-edit-day-field {
  color: #717171;
}
::-webkit-datetime-edit-year-field {
  color: #717171;
}
::-webkit-calendar-picker-indicator {
  color: #717171;
}

hr {
  border: 1px solid #a5a5a5;
}
a,
li,
input {
  list-style: none;
  text-decoration: none;
  border: none;
}
input:focus {
  outline: none;
}

/* style start container */
.container {
  max-width: 1280px;
  width: 100%;
  margin: auto;
}

header {
  width: 100%;
}
.top_navbar {
  width: 100%;
  height: 36px;
  background-color: #18afa4;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.track_order,
.wish_list {
  margin: 0 24px;
  display: flex;
  gap: 24px;
}
.track_order a,
.wish_list a {
  color: #ffffff;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  gap: 4px;
}
.track_order a i,
.wish_list a i {
  font-size: 1.2rem;
}

.mid_navbar {
  width: 100%;
  height: 80px;
  background-color: #00746b;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bookstore_logo {
  width: 302px;
  margin-left: 24px;
  display: flex;
  flex-direction: column;
}
.logo_logo,
.logo_bookstore {
  color: #ffffff;
  font-size: 2.25rem;
  font-weight: 600;
}
.logo_bookstore {
  color: #61cfc7;
}

.mid_navbar_logo {
  margin-top: -8px;
  color: #ffffff;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
}

.mid_navbar_logo img {
  width: 24px;
}

.search_checkout {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 16px;
  margin-right: 24px;
}
.search {
}
.search input {
  width: 400px;
  height: 44px;
  border-radius: 8px 0 0 8px;
  padding: 0 16px;
  margin-right: -4px;
}

.search button {
  height: 44px;
  border-radius: 0 8px 8px 0;
  padding: 8px 16px 8px 8px;
  background-color: #f66b00;
  color: #ffffff;
  font-weight: 300;
  text-align: center;
  cursor: pointer;
}
.search button i {
  font-size: 16px;
}
.checkout {
  height: 100%;
  display: flex;
  align-items: center;
}
.cart_items {
  padding: 0 16px;
  height: 44px;
  display: flex;
  align-items: center;
  gap: 24px;
  border-radius: 8px 0 0 8px;
  background-color: #ffffff;
}
.cart_items p {
}
.cart_items i {
  font-size: 24px;
  color: #aca9a9;
}

.checkout a {
  height: 44px;
  border-radius: 0 8px 8px 0;
  padding: 0 16px;
  color: #ffffff;
  font-weight: 500;
  cursor: pointer;
  background-color: #295aba;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  background-color: #979797;
}
.navbar a {
  height: 100%;
  padding: 0 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
.navbar a:hover {
  background-color: #18afa4;
}

/* main style starts */
main {
  margin: auto;
  padding-top: 36px;
  width: fit-content;
  display: flex;
  gap: 72px;
}

.details_left {
  text-align: center;
  width: 568px;
}
.login_details form {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.login_details label {
  border: solid 1px #717171;
  color: #717171;
  padding: 12px 16px;
  border-radius: 8px;
  font-size: 0.9rem;
}
.date_input {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.date_input input {
  width: 104px;
  padding: 0 12px;
  text-align: center;
}
.login_details form input {
  width: calc(100% -32px);
  height: 50px;
  padding: 0 16px;
  border: solid 1px #717171;
  border-radius: 8px;
}
.login_details form input[type="submit"] {
  margin-top: 12px;
  background-color: #38bcb3;
  color: #ffffff;
  font-weight: 600;
  border: none;
  cursor: pointer;
}
.or_hr {
  width: 100%;
  margin: 24px 0;
  display: flex;
}
.or_hr div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.or_hr div hr {
  width: 100%;
  border: 1px solid #a5a5a5;
}
.or_hr span {
  color: #a5a5a5;
  margin: 0 8px;
}

.why_shop_with_us {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.why_shop_with_us h1 {
  font-size: 2.25rem;
  font-weight: 600;
}
.why_shop_with_us div {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-top: 24px;
}
